--
-- PostgreSQL database dump
--

\restrict Dagifo7Lr0K9HkG60eHg6C4FVw1CKCLbge85DQxveidlvocWNKD1TfGbGgQ7kd0

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: children_employer; Type: TABLE; Schema: public; Owner: hruser
--

CREATE TABLE public.children_employer (
    child_birth_cert_number character varying(10) NOT NULL,
    employer_number integer NOT NULL,
    child_name character varying(30) NOT NULL,
    child_birth_year date NOT NULL,
    child_gender character(1),
    CONSTRAINT children_employer_child_birth_year_check CHECK (((child_birth_year <= CURRENT_DATE) AND (age((child_birth_year)::timestamp with time zone) < '100 years'::interval))),
    CONSTRAINT children_employer_child_gender_check CHECK (((child_gender = 'f'::bpchar) OR (child_gender = 'm'::bpchar))),
    CONSTRAINT children_employer_child_name_check CHECK (((child_name)::text ~ '^[A-Za-z╨Р-╨п╨░-╤П╨Б╤С]+$'::text))
);


ALTER TABLE public.children_employer OWNER TO hruser;

--
-- Name: employer; Type: TABLE; Schema: public; Owner: hruser
--

CREATE TABLE public.employer (
    employer_number integer NOT NULL,
    employer_surname character varying(30) NOT NULL,
    employer_firstname character varying(30) NOT NULL,
    employer_patronymic character varying(30),
    employer_gender character(1),
    employer_length_work smallint,
    office_number integer NOT NULL,
    CONSTRAINT employer_employer_firstname_check CHECK (((employer_firstname)::text ~ '^[A-Za-z╨Р-╨п╨░-╤П╨Б╤С]+$'::text)),
    CONSTRAINT employer_employer_gender_check CHECK (((employer_gender = 'f'::bpchar) OR (employer_gender = 'm'::bpchar))),
    CONSTRAINT employer_employer_length_work_check CHECK (((employer_length_work >= 0) AND (employer_length_work < 100))),
    CONSTRAINT employer_employer_patronymic_check CHECK (((employer_patronymic)::text ~ '^[A-Za-z╨Р-╨п╨░-╤П╨Б╤С]+$'::text)),
    CONSTRAINT employer_employer_surname_check CHECK (((employer_surname)::text ~ '^[A-Za-z╨Р-╨п╨░-╤П╨Б╤С]+$'::text))
);


ALTER TABLE public.employer OWNER TO hruser;

--
-- Name: employer_employer_number_seq; Type: SEQUENCE; Schema: public; Owner: hruser
--

CREATE SEQUENCE public.employer_employer_number_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.employer_employer_number_seq OWNER TO hruser;

--
-- Name: employer_employer_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hruser
--

ALTER SEQUENCE public.employer_employer_number_seq OWNED BY public.employer.employer_number;


--
-- Name: office; Type: TABLE; Schema: public; Owner: hruser
--

CREATE TABLE public.office (
    office_number integer NOT NULL,
    office_name character varying(30) NOT NULL
);


ALTER TABLE public.office OWNER TO hruser;

--
-- Name: office_office_number_seq; Type: SEQUENCE; Schema: public; Owner: hruser
--

CREATE SEQUENCE public.office_office_number_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.office_office_number_seq OWNER TO hruser;

--
-- Name: office_office_number_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: hruser
--

ALTER SEQUENCE public.office_office_number_seq OWNED BY public.office.office_number;


--
-- Name: employer employer_number; Type: DEFAULT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.employer ALTER COLUMN employer_number SET DEFAULT nextval('public.employer_employer_number_seq'::regclass);


--
-- Name: office office_number; Type: DEFAULT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.office ALTER COLUMN office_number SET DEFAULT nextval('public.office_office_number_seq'::regclass);


--
-- Name: children_employer children_employer_pkey; Type: CONSTRAINT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.children_employer
    ADD CONSTRAINT children_employer_pkey PRIMARY KEY (child_birth_cert_number, employer_number);


--
-- Name: employer employer_pkey; Type: CONSTRAINT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.employer
    ADD CONSTRAINT employer_pkey PRIMARY KEY (employer_number);


--
-- Name: office office_pkey; Type: CONSTRAINT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.office
    ADD CONSTRAINT office_pkey PRIMARY KEY (office_number);


--
-- Name: children_employer employer_number_fk; Type: FK CONSTRAINT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.children_employer
    ADD CONSTRAINT employer_number_fk FOREIGN KEY (employer_number) REFERENCES public.employer(employer_number) ON DELETE SET NULL;


--
-- Name: employer office_number_fk; Type: FK CONSTRAINT; Schema: public; Owner: hruser
--

ALTER TABLE ONLY public.employer
    ADD CONSTRAINT office_number_fk FOREIGN KEY (office_number) REFERENCES public.office(office_number) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict Dagifo7Lr0K9HkG60eHg6C4FVw1CKCLbge85DQxveidlvocWNKD1TfGbGgQ7kd0

