<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="курсовой проект, проектирование АИС отдела кадров">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/app.js')}}" type="module"></script>
    <title>Курсовой проект БД</title>
  </head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo"><a href="/"><img class="logo__img" src="{{ url_for('static', filename='img/logo_hr.png')}}" alt="logo"></a></div>
      <div class="header__title">АИС Отдела кадров</div>
    </header>

    <div class="container">
      <main class="main">
        <div class="back-out">
          <button onclick="window.location.href='/menu2'"  class="button-small">&larr; назад</button>
          <div class="error">{{ message }}</div>
          <button onclick="window.location.href='/'"  class="button-small">выйти</button>
        </div>

        <div class="title">
          <h1 class="title__hero">Курсовой проект АСУбз23-1 Николаев ВА</h1>
        </div>
        <div class="subtitle">
          <h2>Список детей сотрудников</h2>
        </div>
        
        <div>
          <table data-table class="table">
            <tr>
              <td class="text-center">Номер СР</td>
              <td class="text-center">Таб.№ сотр.</td>
              <td class="text-center">Имя</td>
              <td class="text-center">Год рожд.</td>
              <td class="text-center">Пол</td>
              <td class="text-center">Действие</td>
              <td class="text-center">Действие</td>
            </tr>
            <tr data-item class="add-item">
              <td><input data-child-birth-cert-number type="text" placeholder="Номер СР"></td>
              <td>
                 <select data-employer-number>
                  {% for employer in employers %}
                    <option value="{{ employer[0] }}">{{ employer[0] }}</option>
                  {% endfor %}
                </select>  
              </td>
              <td><input data-child-name type="text" placeholder="Имя"></td>
              <td><input data-child-birth-year type="date" placeholder="Год рожд."></td>
              <td>
                <select data-child-gender>
                  <option value="m">m</option>
                  <option value="f">f</option>
                </select> 
              </td>
              <td colspan="2"><button data-add class="button-small event-add">Добавить</button></td>
            </tr>
            {% for child in children %}
            <tr data-item>
                <td><input data-child-birth-cert-number="{{ child[0] }}" type="text" value="{{ child[0] }}"></td>
                <td><input data-employer-number="{{ child[1] }}" type="number" value="{{ child[1] }}"></td>
                <td><input data-child-name="{{ child[2] }}" type="text" value="{{ child[2] }}"></td>
                <td><input data-child-birth-year="{{ child[3] }}" type="date" value="{{ child[3] }}"></td>
                <td><input data-child-gender="{{ child[4] }}" type="text" value="{{ child[4] }}"></td>
                <td>
                  <button data-update class="button-small update">Обновить</button>
                </td>
                <td>
                  <button data-delete class="button-small delete">Удалить</button>
                </td>
              </tr>
              {% endfor %}
          </table>
          <br>
        </div>
      </main>
    </div>

    <footer class="footer">
      <div class="footer__copy">>&copy; Николаев Вадим Александрович АСУбз-23-1</div>
      <script src="{{ url_for('static', filename='js/app_childemployer.js') }}" type="module"></script>
    </footer>
  </div>
  
  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <p>Вы уверены, что хотите продолжить?</p>
      <br><br>
      <button id="confirmBtn">ОК</button>
      <br><br>
      <button id="cancelBtn">Отмена</button>
    </div>
  </div>

</body>
</html>