<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="курсовой проект, проектирование АИС отдела кадров">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/app.js')}}" type="module"></script>
    <title>Курсовой проект БД</title>
  </head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo"><img class="logo__img" src="{{ url_for('static', filename='img/logo_hr.png')}}" alt="logo"></div>
      <div class="header__title">АИС Отдела кадров</div>
    </header>

      <div class="container">
        <main class="main">
          <div class="back-out">
            <button onclick="window.location.href='/menu2'"  class="button-small">&larr; назад</button>
            <div class="error">{{ message }}</div>
            <button onclick="window.location.href='/'"  class="button-small">выйти</button>
          </div>

          <div class="title">
            <h1 class="title__hero">Курсовой проект АСУбз23-1 Николаев ВА</h1>
          </div>
          <div class="subtitle">
            <h2>Выбрать отдел</h2>
          </div>
          
          <div>
            <table class="table">
              <tr>
                <td>Назвние отдела</td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <select name="choeseoffice" data-select-office>
                    <option value="1">Отдел А</option>
                    <option value="2">Отдел Б</option>
                    <option value="3">Отдел В</option>
                    <option value="4">Отдел Г</option>
                    <option value="5">Отдел Д</option>
                  </select>
                </td>
                <td><button data-download class="button-small">Выбрать</button></td>
              </tr>
            </table>
            <br>

            <div>
              <table data-table class="table">
              </table>
          </div>
        </main>
      </div>

      <footer class="footer">
        <div class="footer__copy">>&copy; Николаев Вадим Александрович АСУбз-23-1</div>        
        <script src="{{ url_for('static', filename='js/app_download_child.js') }}" type="module"></script>
      </footer>
  </div>

</body>
</html>