<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="курсовой проект, проектирование АИС отдела кадров">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/app.js')}}" type="module"></script>
    <title>Курсовой проект БД</title>
  </head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="logo"><a href="/"><img class="logo__img" src="{{ url_for('static', filename='img/logo_hr.png')}}" alt="logo"></a></div>
      <div class="header__title">АИС Отдела кадров</div>
    </header>

    <div class="container">
      <main class="main">
        <div class="back-out">
          <button onclick="window.location.href='/menu2'"  class="button-small">&larr; назад</button>
          <div class="error">{{ message }}</div>
          <button onclick="window.location.href='/'"  class="button-small">выйти</button>
        </div>

        <div class="title">
          <h1 class="title__hero">Курсовой проект АСУбз23-1 Николаев ВА</h1>
        </div>
        <div class="subtitle">
          <h2>Список сотрудников</h2>
        </div>

        <div>
          <table data-table class="table">
            <tr>
              <td class="text-center">Таб. номер</td>
              <td class="text-center">Фа</td>
              <td class="text-center">Имя</td>
              <td class="text-center">Отчество</td>
              <td class="text-center">Пол</td>
              <td class="text-center">Стаж</td>
              <td class="text-center">Номер отдела</td>
              <td class="text-center" colspan="2">Действие</td>
            </tr>
            <tr data-item class="add-item">
              <td></td>
              <td><input data-employer-surname type="text" placeholder="Фамилия"></td>
              <td><input data-employer-firstname type="text" placeholder="Имя"></td>
              <td><input data-employer-patronymic type="text" placeholder="Отчество"></td>
              <td>
                  <select data-employer-gender>
                    <option value="m">m</option>
                    <option value="f">f</option>
                  </select> 
              </td>
              <td><input data-employer-length-work type="number" placeholder="Стаж&lt;100"></td>
              <td>
                <select data-office-number name="nameoffice">
                {% for office in offices %}
                  <option value="{{ office[0] }}">{{ office[0] }}</option>
                {% endfor %}
                </select>                
              </td>
              <td colspan="2"><button data-add class="button-small event-add">Добавить</button></td>
            </tr>
            {% for employer in employers %}
            <tr data-item>
              <td        data-employer-number>{{ employer[0] }}</td>
              <td><input data-employer-surname="{{ employer[1] }}" type="text" value="{{ employer[1] }}"></td>
              <td><input data-employer-firstname="{{ employer[2] }}" type="text" value="{{ employer[2] }}"></td>
              <td><input data-employer-patronymic="{{ employer[3] }}" type="text" value="{{ employer[3] }}"></td>
              <td><input data-employer-gender="{{ employer[4] }}" type="text" value="{{ employer[4] }}"></td>
              <td><input data-employer-length-work="{{ employer[5] }}" type="number" value="{{ employer[5] }}"></td>
              <td><input data-office-number="{{ employer[6] }}" type="number" value="{{ employer[6] }}"></td>
              <td>
                <button data-update class="button-small update">Обновить</button>
              </td>
              <td>
                <button data-delete class="button-small delete">Удалить</button>
              </td>
            </tr>
            {% endfor %}
          </table>
          <br>
        </div>

      </main>
    </div>

    <footer class="footer">
      <div class="footer__copy">>&copy; Николаев Вадим Александрович АСУбз-23-1</div>
      <script src="{{ url_for('static', filename='js/app_employer.js')}}" type="module"></script>
    </footer>
  </div>

  <div id="confirmModal" class="modal">
    <div class="modal-content">
      <p>Вы уверены, что хотите продолжить?</p>
      <br><br>
      <button id="confirmBtn">ОК</button>
      <br><br>
      <button id="cancelBtn">Отмена</button>
    </div>
  </div>

</body>
</html>